{
    "trailingComma": "none",
    "plugins": ["prettier-plugin-apex"],
    "overrides": [
        {
            "files": "**/lwc/**/*.html",
            "options": { "parser": "lwc" }
        },
        {
            "files": "*.{cmp,page,component}",
            "options": { "parser": "html" }
        },
        {
            "files": "*.{cls,trigger}",
            "options": {
                "parser": "apex",
                "tabWidth": 4
            }
        }
    ],
    "tabWidth": 4,
    "printWidth": 80
}
